
<div class="container">
 <div class="row">
  
  <div class="col-md-3">
  <%= render 'users/userinfo', user: @user %>
  <%= render 'form', book: @newbook %>
  </div>
  
  <div class="col-md-8 offset-md-1">
   <h2>Book detail</h2>
   <table class="table">
   <tbody>
     <tr>
       <td><%= image_tag @book.user.get_profile_image(100, 100) %></br>
          <%= link_to user_path(@book.user.id) do %>
           <%= @book.user.name %>
          <% end %>
       </td>
       <td>
        <%= link_to book_path(@book.id) do %>
        <%= @book.title %>
        <% end %>
       </td>
       <td><%= @book.body %></td>
       
       <% if @book.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success"%></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger"%></td>
       <% end %>
       
       <td>
        <%= render 'favorite', book: @book %>
       </td>
     
       <td>
        コメント数：<%= @book.book_comments.count %>
       </td>
       
     </tr>
   </tbody>
  </table>
  

  <table>
   <tbody>
      <% @book.book_comments.each do |book_comment| %>
    <tr>
     <td>
      <%= image_tag book_comment.user.get_profile_image(100, 100) %><br>
      <%= book_comment.user.name %>
     </td>
     <td>
      <%= book_comment.comment %>
     </td>
     <td>
     <% if book_comment.user == current_user %>
      <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class:"btn btn-danger" %>
     <% end %>
     </td>
    </tr>
     <% end %>
   </tbody>
  </table>
 
  
  <div>
   <%= form_with model:[@book, @book_comment] do |f| %>
   <%= f.text_area :comment %><br>
   <%= f.submit "送信" %>
   <% end %>
  </div>
  
  
  </div>
  
 </div>  
</div>